table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0dee9;
}

.columna1 {
    width: 5%;
}

.columna2 {
    width: 15%;
}

.columna3 {
    width: 5%;
}

.columna4 {
    width: 15%;
}

.columna5 {
    width: 20%;
}

.columna6 {
    width: 15%;
}

.columna7 {
    width: 10%;
}

.columna8 {
    width: 15%;
}
